
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Datatables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

@import "icons";
@import "distances";

h1 {
   margin-top: 0;
}

div#main {
	padding: 0.5em;
}

.uninhabited-system {
	font-style: italic;
}

.primary-station, .controlling-faction, .controlled-system {
	font-weight: bold;
}

a.edit {
	font-family: monospace;
	color: #900;
}

ul#major-events {
	@include make-row();
	li {
		@include make-sm-column(6);
	}
}

ul.compact {
	@include make-row();
	li {
		@include make-sm-column(3);
	}
}

.faction-properties,
.system-properties {
	p {
		margin: 0;
	}
	.faction-property,
	.system-property {
		font-weight: bold;
	}
}

.modelform {
		   border-top: thin grey solid;
		   padding: 1em 0;
		   margin: 1em 0;
}