
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Datatables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

@import "icons";
@import "distances";

body {
	background: #000;
	color: #fff;
}

table {
	background: #fff;
	color: #000;
}	

footer {
	border-top: 2px #005090 solid;
	padding: 0.5em 15px;
	p {
		margin-top: 0.5em;
	}
}

header {
	border-bottom: 2px #005090 solid;
	padding: 0 15px;
	p {
		margin-top: 0.5em;
	}
}

nav {
	ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	> ul {
		@include make-row();
		> li {
			@include make-sm-column(2);
			border-right: 1px #005090 dotted;
			min-height: 4.8em;
			div {
				text-transform: uppercase;
				font-size: 90%;
				text-align: center;
			}
			> ul {
				@include make-row();
				> li {
					@include make-sm-column(6);
				}
			}
			> ul.compactnav {
				> li {
					@include make-sm-column(4);
				}
			}
		}
	}	
}


h1 {
	margin-top: 0;
}

div#main {
	padding: 0.5em 15px;
	background: $body-bg;
	color: $text-color;
}

.uninhabited-system {
	font-style: italic;
}

.primary-station, .controlling-faction, .controlled-system {
	font-weight: bold;
}

a.edit {
	font-family: monospace;
	color: #900;
}

ul#major-events {
	li {

	}
}

ul.compact {
	@include make-row();
	li {
		@include make-sm-column(3);
		padding: 0 0.2em;
	}
}

ul.compact2 {
	@include make-row();
	li {
		@include make-sm-column(4);
		padding: 0 0.2em;
	}
}

ul#economyflow {
	@include make-row();
	padding: 0 15px;
	li {
		@include make-sm-column(3);
		padding: 0;
		list-style-type: none;
	}
}

.faction-properties,
.system-properties {
	p {
		margin: 0;
	}
	.faction-property,
	.system-property {
		font-weight: bold;
	}
}

.modelform {
		   border-top: thin grey solid;
		   padding: 1em 0;
		   margin: 1em 0;
}

.markyes {
		 color: #070;
}
.markno {
		 color: #700;
}

.facility-disabled {
	background: #ccc;
	text-decoration: line-through;
}

#cdbmapcontainer {
	width: 1204px;
	height: 1204px;
	padding: 2px;
	background: #090;
}
#cdbmap {
	background: black;
}
#mapkeys {
	border: thin #999 solid;
	padding: 0.2em;
}

h2 {
   margin-top: 0.2em;
   margin-bottom: 0.2em;
}

.mission-danger {
	background: #fff3f3;
}
.outfitting-danger-icon,
.mission-danger-icon {
	color: #900;
	font-weight: bold;
}

#mapctrls {
	p {
		margin: 0.1em;
	}
	input[type=range] {
		width: 10em;
		display: inline;
	}
}

#tradesearch label {
	vertical-align: top;
}
#tradesearch input {
	vertical-align: top;
}
#tradesearch select {
	vertical-align: top;
}
#traderesults {
	margin-top: 1em;
	padding-top: 0.5em;
	border-top: thin grey solid;
}

samp {
	color: #006000;
	font-weight: bold;
}

div#newhere {
	@include make-row();
	div.newbox {
		@include make-sm-column(6);
		h2 {
			border-bottom: 1px #005090 dotted;
		}
		> div {
			margin: 0.5em 0;
			padding: 0.5em;
			border: thin #005090 solid;
			.botbox {
				width: 50%;
				float: right;
				margin: 0.5em;
				background: #000;
				color: #fff;
				div {
					text-align: center;
					text-transform: uppercase;
					font-size: 80%;
				}
				ul {
					list-style-type: none;
					font-family: monospace;
					padding: 0.5em;
					color: #009000;
				}
			}
		}
	}
}

.deficit {
	color: #600;
}
.surplus {
	color: #060;
}
.lockdown {
	color: #405000;
	text-decoration: line-through;
}

.outfitting-grade-A {
	font-weight: bold;
	background: #cfc;
}
.outfitting-grade-B {
	font-weight: bold;
	background: #efe;
}