#distancegrid {
	.phase0 { /* CCS 0 */
		background: #ff7777;
	}
	.phase1 { /* CCS 1 */
		background: #ff8877;
	}
	.phase2 { /* CEI 1 */
		background: #77ff77;
	}
	.phase3 { /* CEI 2 */
		background: #77ffdd;
	}
	.phase4 { /* CEI 3 */
		background: #77ffff;
	}
	.phase5 { /* CCS 2 */
		background: #ff9977;
	}
	.phase6 { /* CEI 4 */
		background: #77ddff;
	}
	.phase7 { /* CCS 3 */
		background: #ffaa77;
	}
	.phase8 { /* CEI 5 */
		background: #7777ff;
	}
	.phase9 { /* CEI 6 */
		background: #aa77ff;
	}
	.phase10 { /* Misc 1 */
		background: #99cccc;
	}
	.phase11 { /* CCS 4 */
		background: #ffbb77;
	}
	.phase12 { /* CCS 5 */
		background: #ffcc77;
	}
	.phase13 { /* Bridge */
		background: #aadddd;
	}
	.controller {
		min-width: 5em;
	}

	.present-system {
		font-weight: bold;
		color: #009000;
	}
	.target-system {
		font-weight: bold;
		color: #900000;
	}
	.future-system {
		font-weight: bold;
		color: #800080;
	}
	.full-system {
		font-weight: bold;
		color: #000000;
	}

	.same-system {
		background: #000000;
		color: #000000;
	}
	.mission-system {
		background: #a0d0f0;
	}
	.expandable-system {
		background: #d0e0f0;
	}

	th, td {
		padding: 0.15em;
		border: thin black solid;
	}

	tbody th {
		min-width: 15em;
		text-align: right;
		border-right: 3px black solid;
	}
	thead th {
		width: 1.75em;
		max-width: 1.75em;
		height: 15em;
		vertical-align: bottom;
		text-align: left;
		div {
			transform: rotate(-90deg);
			transform-origin: 0.75em 0.25em 0;
			width: 15em;
		}
	}
	thead td {
		text-align: center;
		border-bottom: 3px black solid;
	}

	a {
		color: black;
	}
}
