.icon-economy-tourism {	color: #300060; }
.icon-economy-extraction { color: #700000; }
.icon-economy-agricultural { color: #205000; }
.icon-economy-refinery { color: #704000; }
.icon-economy-industrial { color: #606000; }
.icon-economy-service { color: #000090; }
.icon-economy-hightech { color: #007070; }
.icon-economy-military { color: #700060; }
.icon-economy-colony { color: #004050; }
.icon-economy-terraforming { color: #305030; }

.icon-government-cooperative { color: #300070; }
.icon-government-anarchy { color: #505000; }
.icon-government-corporate { color: #005030; }
.icon-government-democracy { color: #006000; }
.icon-government-confederacy { color: #600000; }
.icon-government-communist { color: #006060; }
.icon-government-dictatorship { color: #000070; }
.icon-government-feudal { color: #004070; }
.icon-government-patronage { color: #600050; }
.icon-government-theocracy { color: #001050; }

.icon-state-none { color: #000000; }
.icon-state-boom { color: #006060; }
.icon-state-bust { color: #000060; }
.icon-state-civilunrest { color: #005000; }
.icon-state-lockdown { color: #405000; }
.icon-state-war { color: #703000; }
.icon-state-election { color: #503030; }
.icon-state-expansion { color: #002050; }
.icon-state-investment { color: #404040; }
.icon-state-retreat { color: #900000; }
.icon-state-famine { color: #600060; }
.icon-state-outbreak { color: #200050; }
