.icon-economy-tourism {	color: #300060; }
.icon-economy-extraction { color: #700000; }
.icon-economy-agricultural { color: #205000; }
.icon-economy-refinery { color: #704000; }
.icon-economy-industrial { color: #606000; }
.icon-economy-service { color: #000090; }
.icon-economy-hightech { color: #007070; }
.icon-economy-military { color: #700060; }
.icon-economy-colony { color: #004050; }
.icon-economy-terraforming { color: #305030; }
.icon-economy-thargoid { color: #00cc00; }
.icon-economy-prison { color: #500000; }
.icon-economy-repair { color: #d06000; }
.icon-economy-rescue { color: #00d000; }
.icon-economy-damaged { color: #f00000; }

.icon-government-cooperative { color: #300070; }
.icon-government-anarchy { color: #505000; }
.icon-government-corporate { color: #005030; }
.icon-government-democracy { color: #006000; }
.icon-government-confederacy { color: #600000; }
.icon-government-communist { color: #006060; }
.icon-government-dictatorship { color: #000070; }
.icon-government-feudal { color: #004070; }
.icon-government-patronage { color: #600050; }
.icon-government-theocracy { color: #001050; }
.icon-government-prisoncolony { color: #703010; }
.icon-government-detention { color: #500000; }
.icon-government-engineer { color: #700040; }

.icon-state-none { color: #000000; }
.icon-state-boom { color: #006060; }
.icon-state-bust { color: #000060; }
.icon-state-civilunrest { color: #005000; }
.icon-state-civilliberty { color: #004070; }
.icon-state-drought { color: #802000; }
.icon-state-lockdown { color: #405000; }
.icon-state-war { color: #703000; }
.icon-state-election { color: #503030; }
.icon-state-expansion { color: #002050; }
.icon-state-investment { color: #404040; }
.icon-state-retreat { color: #900000; }
.icon-state-famine { color: #600060; }
.icon-state-outbreak { color: #200050; }
.icon-state-pirateattack { color: #fff; background: #000 }
.icon-state-publicholiday { color: #208020; }
.icon-state-terrorism { color: #802000; }
.icon-state-infrastructurefailure { color: #505030; }
.icon-state-naturaldisaster { color: #604060; }
.icon-state-blight { color: #700020; }

.icon-facility-cnb { color: #900000; }
.icon-facility-lowres { color: #009000; }
.icon-facility-medres { color: #505000; }
.icon-facility-highres { color: #704000; }
.icon-facility-hazres { color: #900000; }
.icon-facility-icebelt { color: #007070; }
.icon-facility-rockbelt { color: #404040; }
.icon-facility-mrbelt { color: #603030; }
.icon-facility-metalbelt { color: #A00020; }
.icon-facility-icering { color: #007070; }
.icon-facility-rockring { color: #404040; }
.icon-facility-mrring { color: #603030; }
.icon-facility-metalring { color: #A00020; }
.icon-facility-elw { color: #309030; }
.icon-facility-cft { color: #305030; }
.icon-facility-aw { color: #704020; }
.icon-facility-mega { color: #0030A0; }
.icon-facility-megadamaged { color: #900000; }
.icon-facility-tb { color: #300060; }
.icon-facility-signal { color: #002080; }

.icon-facility-commodities { color: #008000; }
.icon-facility-contacts { color: #603000; }
.icon-facility-missions { color: #000070; }
.icon-facility-passengers { color: #606000; }
.icon-facility-outfitting { color: #700000; }
.icon-facility-highquality { color: #700000; font-weight: bold; }
.icon-facility-shipyard { color: #600060; }
.icon-facility-cartographics { color: #006060; }
.icon-facility-blackmarket { color: #000000; }
.icon-facility-repair { color: #603030; }
.icon-facility-refuel { color: #306030; }
.icon-facility-restock { color: #303060; }
.icon-facility-broker { color: #600030; }
.icon-facility-matbroker-data { color: #603060; }
.icon-facility-matbroker-raw { color: #705030; }
.icon-facility-matbroker-manufactured { color: #303090; }
.icon-facility-techbroker { color: #606000; }

.icon-station-strategic { color: #906020; }
.icon-system-home { color: #308020; }

.icon-megaship-science { color: #007070; }
.icon-megaship-survey { color: #305030; }
.icon-megaship-tanker { color: #306030; }
.icon-megaship-tourist { color: #300060; }
.icon-megaship-bulkcargo { color: #008000; }
.icon-megaship-bulkcargodamaged { color: #f00000; }

.icon-installation-unauth { color: #900000; }
.icon-installation-sec { color: #703010; }
.icon-installation-agri { color: #205000; }
.icon-installation-ind { color: #606000; }
.icon-installation-sci { color: #007070; }
.icon-installation-mil { color: #700060; }
.icon-installation-civ { color: #004050; }
.icon-installation-comm { color: #000090; }
.icon-installation-medi { color: #805000; }
.icon-installation-tour { color: #300060; }

.icon-happiness-elated { color: #004090; }
.icon-happiness-happy { color: #006060; }
.icon-happiness-discontented { color: #404040; }
.icon-happiness-unhappy { color: #602000; }
.icon-happiness-despondent { color: #a00000; }
