.icon-economy-tourism {	color: #000070; }
.icon-economy-extraction { color: #700000; }
.icon-economy-agricultural { color: #007000; }
.icon-economy-refinery { color: #704000; }
.icon-economy-industrial { color: #606000; }
.icon-economy-service { color: #000090; }
.icon-economy-hightech { color: #007070; }
.icon-economy-military { color: #600060; }
.icon-economy-colony { color: #002070; }
.icon-economy-terraforming { color: #305030; }

.icon-government-cooperative { color: #000000; }
.icon-government-anarchy { color: #000000; }
.icon-government-corporate { color: #000000; }
.icon-government-democracy { color: #000000; }
.icon-government-confederacy { color: #000000; }
.icon-government-communist { color: #000000; }
.icon-government-dictatorship { color: #000000; }
.icon-government-feudal { color: #000000; }
.icon-government-patronage { color: #000000; }
.icon-government-theocracy { color: #000000; }

.icon-state-none { color: #404040; }
.icon-state-boom { color: #000000; }
.icon-state-bust { color: #000000; }
.icon-state-civilunrest { color: #000000; }
.icon-state-lockdown { color: #000000; }
.icon-state-war { color: #000000; }
.icon-state-election { color: #000000; }
.icon-state-expansion { color: #000000; }
.icon-state-investment { color: #000000; }
.icon-state-retreat { color: #000000; }
.icon-state-famine { color: #000000; }
.icon-state-outbreak { color: #000000; }
