#tracktools {
	.tracker {
		margin-bottom: 0.5em;
		.trackrow {
			@include make-row();
			.category {
				@include make-sm-column(2);
				text-align: right;
			}
			.progressbar {
				@include make-sm-column(7);
				border: thin black solid;
				padding: 0;
			}
			.recorded {
				background: #090;
				width: 0%;
				height: 1.5em;
			}
			.numbers {
				@include make-sm-column(3);
				.tracked {
					font-weight: bold;
				}
			}
			.spacer {
				@include make-sm-column(2);
			}			
			.items {
				@include make-sm-column(7);
				background: #eef;
				border: thin black solid;
				border-radius: 2px;
				border-top: 0;
			}
		}
		.itemlist {
			display: none;
			.items > span {
				display: inline-block;
				border: thin black dotted;
				padding: 0 3px;
				&.visited {
					background: #efe;
					.marker:before {
						content: '\02714';
						color: #090;
					}
				}
				&.unvisited {
					background: #fee;
					.marker:after {
						content: '\02718';
						color: #900;
					}
				}
			}
		}
	}

	&.inactive {
		background: #555;
	}
	
	#enabletracktools {
		border: outset green 2px;
		&:hover {
			background: #cfc;
		}
	}
	#disabletracktools {
		border: outset red 2px;
		&:hover {
			background: #f00;
		}
	}
}

#trackbox {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 100px;
	text-align: right;
	&.visited {
		.visit {
			display: none;
		}
	}
	&.unvisited {
		.unvisit {
			display: none;
		}
	}
	button {
		border: outset 2px #999;
		background: #ccc;
		&.visit .marker {
			color: #900;
		}
		&.unvisit .marker {
			color: #090;
		}
	}
}